// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include <resource.h>
#include <Version.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID	RT_MANIFEST	"Updater.manifest"

1 VERSIONINFO
 FILEVERSION	VER_FILE_VERSION
 PRODUCTVERSION	VER_PRODUCT_VERSION
 FILEFLAGSMASK	0x3fL
 FILEFLAGS		VER_FILEFLAGS
 FILEOS			VER_FILEOS
 FILETYPE		VER_FILETYPE
 FILESUBTYPE	0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName",		VER_COMPANY_NAME_STR "\0"
            VALUE "FileDescription",	VER_FILE_DESCRIPTION_STR "\0"
            VALUE "FileVersion",		VER_FILE_VERSION_STR "\0"
            VALUE "InternalName",		VER_INTERNAL_NAME_STR "\0"
            VALUE "LegalCopyright",		VER_LEGAL_COPYRIGHT_STR "\0"
            VALUE "OriginalFilename",	VER_ORIGINAL_FILENAME_STR "\0"
            VALUE "ProductName",		VER_PRODUCT_NAME_STR "\0"
            VALUE "ProductVersion",		VER_PRODUCT_VERSION_STR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

